<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %> <%- include("./partials/form-script") %>

    <script src="./scripts/edit.js" defer></script>
    <link rel="stylesheet" href="styles/form.css" />
    <title>Edit Car - BCR</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <main>
      <header>
        <ul class="nav-path">
          <li>Cars</li>
          <li>
            <img src="img/icons/filepath.svg" alt="" />
            <a href="index.html">List Car</a>
          </li>
          <li>
            <img src="img/icons/filepath.svg" alt="" />
            <a href="">Update Car Information</a>
          </li>
        </ul>

        <h1>Update Car Information</h1>
      </header>

      <%- include("./partials/form") %>
    </main>
  </body>
</html>
