<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>BCR - Car Management Dashboard</title>
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/index.js" defer></script>
    <script src="scripts/components/Car.js"></script>
    <script src="scripts/components/DashboardApp.js"></script>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <div class="delete-confirm">
      <div class="prompt-window">
        <img width="153" height="121" src="./img/img-BeepBeep.png" alt="" />
        <div class="prompt-text">
          <span class="text-bold">Menghapus Data Mobil</span>
          <p>
            Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin
            menghapus?
          </p>
        </div>
        <div>
          <button id="confirm-delete-btn" class="btn-blue">Ya</button>
          <button id="confirm-cancel-btn" class="btn-blue-outline">
            Tidak
          </button>
        </div>
      </div>
    </div>

    <main>
      <header>
        <div class="alert hidden">
          <span>Data Berhasil Dihapus</span>
        </div>
        <ul class="nav-path">
          <li>Cars</li>
          <li>
            <img src="img/icons/filepath.svg" />
            <a href="">List Car</a>
          </li>
        </ul>
        <div class="main-header-row">
          <h1>List Car</h1>
          <a href="/add">
            <img src="img/icons/plus.svg" alt="plus-icon" />
            <span>Add New Car</span>
          </a>
        </div>
        <div class="car-size-sort">
          <div class="active">
            <input
              type="radio"
              name="car-size"
              id="car-size-radio1"
              value="all"
              checked
            />
            <label for="car-size-radio1">All</label>
          </div>
          <div>
            <input
              type="radio"
              name="car-size"
              id="car-size-radio2"
              value="small"
            />
            <label for="car-size-radio2">Small</label>
          </div>
          <div>
            <input
              type="radio"
              name="car-size"
              id="car-size-radio3"
              value="medium"
            />
            <label for="car-size-radio3">Medium</label>
          </div>
          <div>
            <input
              type="radio"
              name="car-size"
              id="car-size-radio4"
              value="large"
            />
            <label for="car-size-radio4">Large</label>
          </div>
        </div>
      </header>
      <ul class="car-list"></ul>
    </main>
  </body>
</html>
