.main-header-row {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.main-header-row > a {
  background: #0d28a6;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-header-row > a:hover {
  background-color: #4c65d4;
}
.main-header-row > a > span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.car-size-sort {
  display: flex;
  gap: 16px;
  color: #aeb7e1;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.car-size-sort > div {
  /* Neutral/10 */
  background: #ffffff;
  /* Primary/DarkBlue/02 */
  border: 1px solid #aeb7e1;
  border-radius: 2px;
  padding: 8px 12px;
  transition: 0.15s ease-out;
  cursor: pointer;
}
.car-size-sort > div > label {
  cursor: pointer;
}

.car-size-sort > div.active {
  background: #cfd4ed;
  color: #0d28a6;
  border-color: #0d28a6;
  transition: 0.15s ease-in;
}

.car-size-sort > div > input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.car-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.car-card {
  background: #ffffff;
  /* Shadow/Low */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.car-card > .img-container {
  width: 100%;
  height: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-card > .img-container > img {
  max-width: 100%;
  max-height: 100%;
}
.car-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
}
.car-card-text > div {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.car-card-btn {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 100%;
  gap: 16px;
}
.car-card-btn > a {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  gap: 8px;
  padding: 8px 12px;
  border: solid 1px;
  border-radius: 2px;
  align-items: center;
}
.car-card-btn > a > img {
  width: 18px;
  height: 18px;
}
.btn-delete {
  color: #fa2c5a;
  border-color: #fa2c5a;
}
.btn-delete:hover {
  background-color: #e8e8e8;
}
.btn-edit {
  background: #5cb85f;
  border-color: #5cb85f;
  color: #fff;
}
.btn-edit:hover {
  background-color: #7cc57e;
}
.delete-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
}
.delete-confirm.active {
  display: flex;
}
.prompt-window {
  background-color: #fff;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.prompt-text {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.prompt-text > p {
  margin: 0;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
.alert {
  width: 520px;
  height: 24px;
  padding: 12px 16px;
  color: #fff;
  font-weight: 500;

  position: absolute;
  display: flex;
  justify-content: center;

  left: 40%;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  margin-top: 0;
  opacity: 1;
  transition: 0.15s ease-in;
  user-select: none;
}
.alert.hidden {
  opacity: 0;
  transition: 0.15s ease-out;
  margin-top: -30px;
}
.alert.success {
  background: #73ca5c;
}
.alert.neutral {
  background: #151515;
}
.alert.error {
  background: red;
}
