@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap");

/*
    GLOBAL HTML SETTINGS
*/

html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 70px 220px auto;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "sidebar-a nav nav"
    "sidebar-a sidebar-b main";
}
body.nav-active {
  grid-template-areas:
    "sidebar-a nav nav"
    "sidebar-a main main";
}

a {
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

button,
a {
  cursor: pointer;
}

/*
    GLOBAL CLASS
*/
.text-reg,
.text-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.text-light {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.no-mp {
  padding: 0;
  margin: 0;
}

.logo-sm {
  background: #cfd4ed;
  width: 34px;
  height: 34px;
}

.logo-md {
  width: 100px;
  height: 34px;
  background: #cfd4ed;
}

.btn-blue-outline {
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  color: #0d28a6;
  font-weight: 700;
  line-height: 20px;
}
.btn-blue-outline:hover {
  background: #eaeaea;
}
.btn-blue {
  padding: 8px 12px;
  background: #0d28a6;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
}
.btn-blue:hover {
  color: #fff;
  background: #445bbd;
}
.btn-blue.disabled {
  background-color: #97a1cf;
  border: #97a1cf;
}

/*
    GLOBAL ELEMENT CLASS
*/

/* NAV & SIDEBAR */
nav {
  width: 100%;
  height: 70px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  right: 0;
  top: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 220px auto;
  grid-area: nav;
}
nav.active {
  grid-template-columns: auto;
}

.left-nav,
.right-nav {
  padding-left: 18px;
  padding-right: 18px;
}

.left-nav {
  display: flex;
  align-items: center;
}
.left-nav.active {
  display: none;
}
.right-nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.right-nav > img {
  cursor: pointer;
}
.right-nav > div {
  display: flex;
  gap: 24px;
}
.search-bar {
  display: flex;
  align-items: center;
  height: 36px;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  max-height: 36px;
  gap: 8px;
  padding: 9px 12px;
}
.search-container > input {
  border: none;
}
.search-container > input:focus {
  outline: none;
}
.user-container {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-container:hover {
  background-color: #e5e5e5;
  border-radius: 4px;
}

.left-sidebar {
  background: #0d28a6;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  grid-area: sidebar-a;
}
.left-sidebar > span {
  margin: 18px;
}
.left-sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-sidebar > ul > li {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-sidebar > ul > li:hover,
.left-sidebar > ul > li.active {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background-color: #5269d3;
}
.left-sidebar > ul > li > img {
  width: 24px;
  height: 24px;
}

.right-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-area: sidebar-b;
  background-color: #fff;
}
.right-sidebar.active {
  display: none;
}
.right-sidebar > div {
  color: #8a8a8a;
  max-height: 42px;
  padding: 11px 24px;
  margin-top: 24px;
}
.right-sidebar > div > p {
  margin: 0;
  text-justify: center;
}
.right-sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.right-sidebar > ul > li {
  font-weight: 700;
  height: 42px;
  display: flex;
  align-items: center;
}
.right-sidebar > ul > li > a {
  color: #151515;
  width: 100%;
  padding: 11px 24px;
}
.right-sidebar > ul > li > a:hover,
.right-sidebar > ul > li > a.active {
  background-color: #cfd4ed;
}

/* MAIN CONTENT */
main {
  z-index: 1;
  overflow-y: scroll;
  grid-area: main;
  padding: 32px 25px;
}
main::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #8070d4;
  background-clip: content-box;
}
.nav-path {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-path > li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.nav-path > li > a {
  text-decoration: none;
  color: #000;
}
.nav-path > li:last-child > a {
  color: #222222;
  font-weight: 300;
}
